$lora:'Lora','serif';
$opensans:'Open Sans', sans-serif;

label{
  font-family: $lora;
  font-weight: 900;
}

.form-group{
  margin:2rem 0rem 2rem;
}

#img-pad{
    padding:20px;
}
#t-pad{
    @extend #img-pad;
}

#postPadd{
    margin-bottom: 10px;
}

.post-meta{
  font-weight: normal;
  display: block;
}

.contact{
  padding:2em;
  margin:8rem;
}

#aboutPadd{
  padding:2em;
}

#exc-pad{
    padding-top: 10px;
}
#btn-marg{
    position: relative;
    // margin-top:20px;
    margin-bottom: 30px;
}
.post-header{
  padding-top:1em;
}

#contact-header{
  padding-bottom: 4rem;
}

.footer{
  text-align:center;
  padding:4rem 0;
  background-color:#f7f7f7;
}

.footer-links, dd{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  display:inline-block;
}

#pad-nav{
  padding-right:1em;
}

p{
  font-family: $lora;
}

h1,h2,h3,h4,h5,small,a,span{
  font-family:$opensans;
  font-weight: bold;
}
