<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lrg-12 col-md-12">
        <!-- {% assign pages = site.pages | sort:"weight"  %} -->
        <!-- Loop thru site pages -->
        {% assign pages = site.pages | sort:"weight"  %}
        <!-- Loop thru site pages -->
        <ul class="navbar-nav">
        {% for p in pages %}
        {% if p.title %}
          <li class="nav-item">
        <!-- order of navigation by weight front matter -->
            <a id="links" class="nav-item nav-link" {% if p.url == page.url %}{% endif %} href="{{ p.url | relative_url }}">
         {{ p.title | escape }}
       </a>
          </li>
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
        <dl class="footer-links">
            {% if site.fb_username %}
            <dd class="facebook">
                {% include icon-fb.html username=site.fb_username %}
            </dd>
              {% endif %}
              {% if site.insta_username %}
            <dd class="insta">
                {% include icon-insta.html username=site.insta_username %}
            </dd>
              {% endif %}
          </dl>
          <div class="row">
            <div class="col-md-12">
              <small><span class="built-w">This awesome site was built with Aloha by<a target="_blank" href="https://brentwhite.design"> brentwhite.design</a></span></small>
            </div>
          </div>
  </div>
</footer>
