---
layout: default
---
<div class="contact">
    <div class="container">
      <h2 id='contact-header'>Contact</h2>
      <p id='contact-header lead'>Feel free to ask me about my art or if you have any questions regarding purchasing a piece.</p>
      <form action="">
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-6">
              <input class="form-control" id="inputEmail3" placeholder="" type="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-6">
              <input class="form-control" id="inputName" placeholder="" type="name">
            </div>
          </div>
          <label for="exampleTextarea">Message</label>
          <div class="form-group row">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </form>
    </div>
</div>
