---
layout: default
---
<div class="cover-container">
  <div class="inner cover">
    <div class="container">
      <div class="row">
        <div class="lrg-col-8 sm-col-8">
          <h1 class="cover-heading">Caroline Rideout</h1>
          <p class="fine h4">Fine Artist</p>
          <p class="lead viewWork">
            <a href="#viewworks" class="btn btn-md btn-primary">View Gallerys</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bellow-fold container">
      <a id="viewworks" href="#"></a>
  <div class="row">
    <div class="lrg-col-12">
      <h2 id="portfolio">Portfolio</h2>
    <p class="lead">No matter what the subject, my goal is to convey the sense that there is a symbolic fitness in natural forms and that art can awaken our interest in both metaphysics and mystery. </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lrg-4 col-md-4">
      <h3 class="title">Watercolors</h3>
      <p class="mediumYear font-weight-bold">2013 - 2017</p>
      <a href="/watercolors"><img class="sectionImg img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_5_index.jpg" alt="" /></a>
<div class="text-center">
  <a href="/watercolors" class="btn btn-info">View Gallery</a>
</div>
    </div>
    <div class="col-lrg-4 col-md-4">
      <h3 class="title">Oils</h3>
      <p class="mediumYear font-weight-bold">2017</p>
      <a href="/oils">
        <img class="sectionImg img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/oils/ranch1index.jpg" alt="" />
      </a>
<div class="text-center">
  <a href="/oils" class="btn btn-info">View Gallery</a>
</div>
    </div>
    <div class="col-lrg-4 col-md-4">
      <h3 class="title">Sketches</h3>
      <p class="mediumYear font-weight-bold">2014 - 2017</p>
      <a href="/sketches"><img class="sectionImg img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/figures/f_5.jpg" alt="" /></a>
<div class="text-center">
  <a href="/sketches" class="btn btn-info">View Gallery</a>
</div>
    </div>
  </div>
</div>
