---
layout: default
---
<div class="cover-container">
  <div class="inner cover">
    <div class="container">
      <div class="row">
        <div class="lrg-col-8 sm-col-8">
          <h1 class="cover-heading">Landscapes</h1>
          <!-- <p class="fine h4">Fine Artist</p> -->
          <p class="lead viewWork">
            <a href="#buy1" class="btn btn-md btn-primary">View Work</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row introduction">
    <div class="col-lrg-12">
      <img class="coverLand img-fluid" src="" alt="" />
      <h2 class="intro">Landscapes</h2>
      <p class="intro lead">{{ page.content }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lrg-6 col-md-6">
      <a id="buy1" href="#"></a>
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_5.jpg" data-fancybox="images" data-caption="Diamond Head Cliffs (Morning), South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_5.jpg" alt="" />
      </a>
      <p class="lead work">(Morning), Diamondhead Cliffs, South Oahu</p>
      <p><strong>2016, Watercolor</strong></p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_2.jpg" data-fancybox="images" data-caption="(Evening) Diamond Head Cliffs, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_2.jpg" alt="" />
      </a>
      <p class="lead work">(Evening), Diamondhead Cliffs, South Oahu</p>
      <p><strong>2016, Watercolor</strong></p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_underthetrees.jpg" data-fancybox="images" data-caption="Kailua Beach, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_underthetrees.jpg" alt="" />
      </a>
      <p class="lead work">Kailua Beach, East Oahu</p>
      <p><strong>2014, Watercolor</strong></p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_waiona.jpg" data-fancybox="images" data-caption="Waiona Beach, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_waiona.jpg" alt="" />
      </a>
      <p class="lead work">Waiona Beach, East Oahu</p>
      <p><strong>2016, Watercolor</strong></p>
      <p><strong>8x10 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$200 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/turtlebay.jpg" data-fancybox="images" data-caption="Turtle Bay, North Shore of Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/turtlebay.jpg" alt="" />
      </a>
      <p class="lead work">Turtle Bay, North Shore of Oahu</p>
      <p><strong>2017, Watercolor</strong></p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="sold-padd lead"><mark><strong>Sold</strong></mark></p>
    </div>

    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_6.jpg" data-fancybox="images" data-caption="Nuuanu Bamboo, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_6.jpg" alt="" />
      </a>
      <p class="lead work">Nuuanu Bamboo, South Oahu</p>
      <p><strong>2015, Watercolor</strong></p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$300 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_1.jpg" data-fancybox="images" data-caption="Kapiolani By Night, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_1.jpg" alt="" />
      </a>
      <p class="lead">Kapiolani By Night, South Oahu</p>
      <p><strong>2015, Watercolor</strong></p>
      <p><strong>11x14 Portrait</strong></p>
      <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_boatramp.jpg" data-fancybox="images" data-caption="Kailua Boat Ramp, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_boatramp.jpg" alt="" />
      </a>
      <p class="lead">Kailua Boat Ramp, East Oahu</p>
      <p><strong>2015, Watercolor</strong></p>
      <p><strong>8x10 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$200 </mark><a target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a>
      </p>
    </div>
  </div>
</div>
