---
layout: default
---
<div class="cover-container-oils">
  <div class="inner cover">
    <div class="container">
      <div class="row">
        <div class="lrg-col-8 sm-col-8">
          <h1 class="cover-heading">Oil Gallery</h1>
          <p class="lead viewWork">
            <a href="#buy1" class="btn btn-md btn-primary">View Gallery</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row introduction">
    <div class="col-lrg-12">
      <img class="coverLand img-fluid" src="" alt="" />
      <h2 class="intro">Oils</h2>
      <p class="intro lead">{{ page.content }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lrg-6 col-md-6">
      <a id="buy1" href="#"></a>
        <a href="https://s3-us-west-2.amazonaws.com/caroline-site/oils/kailuastreet.jpg" data-fancybox="images" data-caption="View of Kona Huanui, Kailua, Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/oils/kailuastreet.jpg" alt="" />
        </a>
      <p class="lead work">View of Kona Huanui, Kailua, Oahu</p>
      <p><strong>11x16 Panel, Landscape</strong></p>
      <!-- <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a> -->
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/oils/sunsetb.jpg" data-fancybox="images" data-caption="Sunset Beach, North Shore of Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/oils/sunsetb.jpg" alt="" />
      </a>
      <p class="lead work">Sunset Beach, North Shore of Oahu</p>
      <p><strong>11x16 Panel, Landscape</strong></p>
      <!-- <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Buy</a> -->
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/oils/ranch1.jpg" data-fancybox="images" data-caption="Sunset Ranch, North Shore of Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/oils/ranch1.jpg" alt="" />
      </a>
      <p class="lead work">Sunset Ranch, North Shore of Oahu</p>
      <p><strong>8x10 Panel, Landscape</strong></p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/oils/ranch2.jpg" data-fancybox="images" data-caption="Sunset Ranch, North Shore of Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/oils/ranch2.jpg" alt="" />
      </a>
      <p class="lead">Sunset Ranch, North Shore of Oahu</p>
      <p><strong>8x10 Panel, Landscape</strong></p>
      <!-- <p class="font-weight-bold"><mark>$300 </mark><a href="#" role="button" class="btn btn-success btn-sm">Buy</a> -->
      </p>
    </div>
  </div>
</div>
