---
layout: default
---
<div class="cover-container">
  <div class="inner cover">
    <div class="container">
      <div class="row">
        <div class="lrg-col-8 sm-col-8">
          <h1 class="cover-heading">Watercolor Gallery</h1>
          <p class="lead viewWork">
            <a href="#buy1" class="btn btn-md btn-primary">View Gallery</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row introduction">
    <div class="col-lrg-12">
      <img class="coverLand img-fluid" src="" alt="" />
      <h2 class="intro">Watercolors</h2>
      <p class="intro lead">{{ page.content }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lrg-6 col-md-6">
      <a id="buy1" href="#"></a>
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_5.jpg" data-fancybox="images" data-caption="Diamond Head Cliffs (Morning), South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_5.jpg" alt="" />
      </a>
      <p class="lead work">Diamond Head Cliffs, South Oahu</p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/commerce/products/1298646813595168/" role="button" class="btn btn-success btn-sm">Purchase</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_2.jpg" data-fancybox="images" data-caption="(Evening) Diamond Head Cliffs, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_2.jpg" alt="" />
      </a>
      <p class="lead work">Diamond Head Cliffs, South Oahu</p>
      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/crideout/" role="button" class="btn btn-success btn-sm">Purchase</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_underthetrees.jpg" data-fancybox="images" data-caption="Kailua Beach, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_underthetrees.jpg" alt="" />
      </a>
      <p class="lead work">Kailua Beach, East Oahu</p>

      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$250 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/commerce/products/1298646813595168/" role="button" class="btn btn-success btn-sm">Purchase</a>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_waiona.jpg" data-fancybox="images" data-caption="Waiona Beach, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/kailua_2_index.jpg" alt="" />
      </a>
      <p class="lead work">Waiona Beach, East Oahu</p>

      <p><strong>8x10 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$200 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/commerce/products/1298646813595168/" role="button" class="btn btn-success btn-sm">Purchase</a>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/turtlebay.jpg" data-fancybox="images" data-caption="Turtle Bay, North Shore of Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/turtlebay.jpg" alt="" />
      </a>
      <p class="lead work">Turtle Bay, North Shore of Oahu</p>

      <p><strong>11x14 Landscape</strong></p>
      <p class="sold-padd lead"><mark><strong>Sold</strong></mark></p>
    </div>

    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_6.jpg" data-fancybox="images" data-caption="Nuuanu Bamboo, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_6.jpg" alt="" />
      </a>
      <p class="lead work">Nuuanu Bamboo, South Oahu</p>

      <p><strong>11x14 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$300 </mark><a id="buy1" target="_blank" href="https://www.facebook.com/commerce/products/1350651935027238/" role="button" class="btn btn-success btn-sm">Purchase</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_1.jpg" data-fancybox="images" data-caption="Kapiolani By Night, South Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/ls_1.jpg" alt="" />
      </a>
      <p class="lead">Kapiolani By Night, South Oahu</p>
      <p><strong>11x14 Portrait</strong></p>
      <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1460398344031198/" role="button" class="btn btn-success btn-sm">Purchase</a>
      </p>
    </div>
    <div class="col-lrg-6 col-md-6">
      <a href="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_boatramp.jpg" data-fancybox="images" data-caption="Kailua Boat Ramp, East Oahu">
        <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/landscapes/k_boatramp.jpg" alt="" />
      </a>
      <p class="lead">Kailua Boat Ramp, East Oahu</p>

      <p><strong>8x10 Landscape</strong></p>
      <p class="font-weight-bold lead"><mark>$200 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1553855161314246/" role="button" class="btn btn-success btn-sm">Purchase</a>
      </p>
    </div>
    <div class="row">
      <div class="col-lrg-6 col-md-6">
        <a id="buy1" href="#"></a>
          <a href="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_1.jpg" data-fancybox="images" data-caption="Golden Poinciana">
          <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_1.jpg" alt="" />
        </a>
        <p class="lead work">Golden Poinciana</p>

        <p><strong>11x16, Landscape</strong></p>
        <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1439308206131500/" role="button" class="btn btn-success btn-sm">Purchase</a>
        </p>
      </div>
      <div class="col-lrg-6 col-md-6">
        <a href="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_4.jpg" data-fancybox="images" data-caption="Red Poinciana">
          <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_4.jpg" alt="" />
        </a>
        <p class="lead work">Red Poinciana</p>

        <p><strong>11x16, Landscape</strong></p>
        <p class="font-weight-bold lead"><mark>$300 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1350001648419722/" role="button" class="btn btn-success btn-sm">Purchase</a>
        </p>
      </div>
      <div class="col-lrg-6 col-md-6">
        <a href="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_3.jpg" data-fancybox="images" data-caption="Midway Island Bottles">
          <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_3.jpg" alt="" />
        </a>
        <p class="lead work">Midway Island Bottles</p>
      </div>
      <div class="col-lrg-6 col-md-6">
        <a href="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_2.jpg" data-fancybox="images" data-caption="Persimmons">
          <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/studies/study_2.jpg" alt="" />
        </a>
        <p class="lead">Persimmons</p>
        </p>
      </div>
      <div class="row">
        <div class="col-lrg-6 col-md-6">
          <a id="buy1" href="#"></a>
            <a href="https://s3-us-west-2.amazonaws.com/caroline-site/figures/f_2.jpg" data-fancybox="images" data-caption="Diver from the deep">
              <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/figures/f_2.jpg" alt="" />
            </a>
          <p class="lead work">Diver From The Deep</p>
          <p><strong>11x16, Portrait</strong></p>
          <p><strong>2015, Watercolor</strong></p>
          <p class="font-weight-bold lead"><mark>$250 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1552167278129006/" role="button" class="btn btn-success btn-sm">Purchase</a>
          </p>
        </div>
        <div class="col-lrg-6 col-md-6">
          <a href="https://s3-us-west-2.amazonaws.com/caroline-site/figures/f_3.jpg" data-fancybox="images" data-caption="Honey Girl">
            <img class="works img-fluid" src="https://s3-us-west-2.amazonaws.com/caroline-site/figures/f_3.jpg" alt="" />
          </a>
          <p class="lead work">Honey Girl</p>
          <p><strong>11x16, Portrait</strong></p>
          <p class="font-weight-bold lead"><mark>$250 </mark><a target="_blank" href="https://www.facebook.com/commerce/products/1472606666146013/" role="button" class="btn btn-success btn-sm">Purchase</a>
          </p>
        </div>
  </div>
</div>
